.productos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.producto {
  border: solid 1px #eee;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.1);
  width: 30%;
  padding: 10px 15px;
  border-radius: 5px;
}

.img {
  width: 100%;
}

.btn {
  background-color: #0a283e;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.layout {
  background-color: white;
  color: #0a283e;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container {
  width: 80%;
}

.titulo {
  margin-bottom: 30px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  justify-content: space-between;
  position: relative;
  padding: 0 50px;
  box-shadow: 0 2px 3px rgb(0, 0, 0, 0.1);
}

.logo {
  font-weight: 700;
  font-size: 2rem;
}

.carro {
  background-color: #359a2c;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.bubbleAlert {
  background-color: #e9725a;
  border-radius: 15px;
  color: white;
  padding: 2px 10px;
  font-size: 0.9rem;
  width: 20px;
}

.bubble {
  position: relative;
  left: 12px;
  top: 20px;
}

.detallesCarro {
  background-color: white;
  position: absolute;
  margin-top: 30px;
  box-shadow: 1px 5px 5px rgb(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 300px;
  right: 50px;
}

.img-carro {
  width: 50px;
  height: 32px;
}

.ul-detallecarro {
  margin: 0;
  padding: 0;
}

.li-detallecarro {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  border-bottom: solid 1px #aaa;
}